build/.ninja_deps
.vscode/*.json
build/.ninja_log
build/*.txt
build/*.exe
build/*.cmake
build/*.json
build/*.ninja
build/CMakeFiles/*.log
build/CMakeFiles/*.txt
build/CMakeFiles/*.check_cache
build/CMakeFiles/*.bin
build/CMakeFiles/*.cxx
build/CMakeFiles/3.13.3/*.cmake
build/CMakeFiles/3.13.3/*.bin
build/CMakeFiles/3.13.3/CompilerIdCXX/*.cpp
build/CMakeFiles/3.13.3/CompilerIdCXX/*.exe
build/CMakeFiles/Networking-TS.dir/*.cpp.obj
build/networking-sync.exe
build/networking-async.exe
build/networking-stream.exe
